*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.CasaCrafts{
font-size: 2rem;
color: #000;
text-decoration: none;
font-family: 'Times New Roman', Times, serif

}

.CasaCrafts:hover{
    color:orange;
}



.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    color: #000;
    
}
.nav-link:hover{
    color: orange;
}

.search{
    height: 40px;
    width:100%;
    border-radius: 20px;
    outline: none;
    margin-top: 7px;
}

.btn0{
    margin-right: 30px;
    border: none;
    background: none;
}

.btn1,.btn2{
    border: none;
    background: none;
    padding: 20px;
    height:20px;
    width:40px;
    outline: none;
    margin-bottom: 20px;
}


h2{
    text-align: left;
    text-align: justify;
    margin-top: -200px;
    margin-bottom: 500px;
    color:white;   
}

p{text-align: left;
    color:white;
    font-size: 20px;
}


h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    
}

.row1{
    box-shadow: 0px 0px 10px;
    width: 600px;
}

.add1{
    overflow: hidden;
    transition: all 0.5s;
}

.add1:hover img {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}

.add2{
    overflow: hidden;
    transition: all 0.5s;
}

.add2:hover img {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}
.card1{overflow: hidden;}
.card1 {
    transition: all in 0.5s;
}
.card1:hover img{
    transform: scale(1.15);
    transition: 0.5s ease-in-out;
}

#ourheading{
    text-align: center;
    margin-top: 70px;
    
}

.card h5{
margin-top: 10px;   
}

.card{border: none;}

.card button{
    margin-top: -30px;
}

